
		<div class="tech">
			<p>
				<h4 style="display:inline;"><strong>Technology</strong></h4> - <em>Nodejs, Express, hbs</em> <br>
				<h5 style="display:inline;"><strong>Api</strong></h5> - <em>Open Weather</em> 
			</p>
		</div>
</body>
</html>